
<div class="container-fluid">
        <div class="btn-group view-toggle" role="group">
        <button type="button" class="btn btn-default" id="listButton"><i class="fa fa-list"></i></button>
        <button type="button" class="btn btn-primary" id="floorButton"><i class="fa fa-object-group"></i></button>
        </div>

     <!-- Floor Plan View -->
        <div class="col-sm-12">
            <img class="img-responsive" id="floor-plan" src="img/floor-plan.jpg" />
        </div>



    <!-- List View -->
        <div class="col-xs-12 main" id="tablesList">
            <div class="table-responsive table-hover">
                <table class="table" id="myTables">
                    <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Status</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-danger" onclick="document.location = 'menu.html';">
                            <td>33</td>
                            <td><i class="fa fa-danger"></i> Needs Attention </td>
                            <td>ipsum</td>
                        </tr>
                        <tr class="table-warning">
                            <td>1,002</td>
                            <td>amet</td>
                            <td>consectetur</td>
                        </tr>
                        <tr class="table-info">
                            <td>1,003</td>
                            <td>Integer</td>
                            <td>nec</td>
                        </tr>
                        <tr>
                            <td>1,003</td>
                            <td>libero</td>
                            <td>Sed</td>
                        </tr>
                        <tr>
                            <td>1,004</td>
                            <td>dapibus</td>
                            <td>diam</td>
                        </tr>
                        <tr>
                            <td>1,005</td>
                            <td>Nulla</td>
                            <td>quis</td>
                        </tr>
                        <tr>
                            <td>1,006</td>
                            <td>nibh</td>
                            <td>elementum</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="javascript" src="dist/js/bootstrap.min.js" />
